body{
    margin: 10px;
}
table{
    border: 2px solid black;
    width: 1000px;
    border-collapse: collapse;
}

th, td{
    border: 2px solid red;
    padding-left: 5px;
    height: 30px;
}

.main{
    display: flex;
}

.itemCard{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border: 2px solid black;
    margin-left: 50px;
    border-radius: 25px;
    align-items: center;
    padding: 0 10px;
}

.desc{
    font-size: 14px;
    overflow-y: scroll;
}

.title{
    font-size: 20px;
    text-align: center;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .pagination-number,
  .pagination-button{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
  }
   
  .pagination-number:hover,
  .pagination-button:not(.disabled):hover {
    background: #fff;
  }
   
  .pagination-number.active {
    color: #fff;
    background: #0085b6;
  }