.loginbox{
    margin: 200px auto;
    width: 200px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.boxname{
    margin-bottom: 30px;
    font-size: 20px;
}

input{
    width: 230px;
    margin-top: 10px;
}

.footerLoginBox{
    display: flex;
    width: 240px;
    max-height: 20px;
    margin-top: 5px;
    justify-content: space-between;
}

#checkremember{
    margin-top: 0px;
    width: 11px;
}

#loginButton{
    width: 100px;
}

#signinbutton{
    width: 100px;
}

table, th, td{
    border: 1px solid black;
}

.info{
    padding: 20px;
    width: 750px;
    height: 300px;
    border: 2px solid black;
}

.infoblock{
    display: flex;
}

.colors{
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
    margin-left: 20px;
    padding: 10px;
    box-sizing: border-box;
}

select{
    width: 180px;
}

#changecolors{
    width: 180px;
}